<div class="card m-5">
    <div class="card-header">Termin
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">Datum und Uhrzeit
            </div>
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let field of appointmentFields">
                        <div class="col-lg-6 mb-2">
                            <label [for]="field.id" class="form-label">{{ field.value }}</label>
                            <input [value]="appointment.appointment[field.control]" [type]="field.type"
                                class="form-control" [id]="field.id" disabled>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <div class="card">
            <div class="card-header">Patient
            </div>
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let patient of patientFields">
                        <div class="col-lg-6 mb-2">
                            <label [for]="patient.id" class="form-label">{{ patient.value }}</label>
                            <input [value]="appointment.patient[patient.control]" [type]="patient.type"
                                class="form-control" [id]="patient.id" disabled>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn float-start" type="button" [routerLink]="['/home']">Zurück</button>
        <button (click)="deleteAppointment()" class="btn btn-danger float-end" type="button">Termin löschen</button>
    </div>
</div>