<div class="card m-5">
    <ng-container [formGroup]="form">
        <div class="card-header">Termin
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">Datum und Uhrzeit
                </div>
                <div class="card-body" formGroupName="appointment">
                    <div class="row">
                        <ng-container *ngFor="let field of appointmentFields">
                            <div class="col-lg-6 mb-2">
                                <label [for]="field.id" class="form-label">{{ field.value }}</label>
                                <input [formControlName]="field.control" [type]="field.type" class="form-control"
                                    [id]="field.id">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <hr class="my-3">
            <div class="card">
                <div class="card-header">Patient
                </div>
                <div class="card-body" formGroupName="patient">
                    <div class="row">
                        <ng-container *ngFor="let patient of patientFields">
                            <div class="col-lg-6 mb-2">
                                <label [for]="patient.id" class="form-label">{{ patient.value }}</label>
                                <input [formControlName]="patient.control" [type]="patient.type" class="form-control"
                                    [id]="patient.id">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" *ngIf="showData">
            <button class="btn float-start" type="button" [routerLink]="['/home']">Zurück</button>
            <button (click)="deleteAppointment()" class="btn btn-danger float-end" type="button">Termin löschen</button>
        </div>
        <div class="card-footer" *ngIf="!showData">
            <button class="btn float-start" type="button" [routerLink]="['/home']">Zurück</button>
            <button (click)="reserveAppointment()" [disabled]="form.invalid" class="btn btn-success float-end" type="button">Termin reservieren</button>
        </div>
    </ng-container>
</div>