<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/icons/hospital.png" class="rounded-circle dropdown-toggle" height="25" alt="Praxis Logo"/>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="home">Home</a>
        <a class="nav-link active" routerLink="home">Standort</a>
        <a class="nav-link active" routerLink="home">Öffnungszeiten</a>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <img src="assets/icons/user.png" class="rounded-circle dropdown-toggle" height="25" alt="Benutzer Symbol"
             id="user" data-bs-toggle="dropdown" aria-expanded="false"/>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user">
          <li>
            <a *ngIf="!isLoggedIn" routerLink="login" class="dropdown-item">Login</a>
            <a *ngIf="isLoggedIn" (click)="changeLoginStatus()" class="dropdown-item">Logout</a>
            <a (click)="showShortcuts()" class="dropdown-item">Shortcuts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
