<div *ngIf="!isLoading" class="m-5">
  <div *ngIf="isLoggedIn">
    <div class="card">
      <div class="card-header">Meine gebuchten Termine</div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <app-appointment-table
              [appointments]="appointments"
            ></app-appointment-table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          class="btn btn-success float-end"
          type="button"
          routerLink="/add-termin"
        >
          Termin reservieren
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoggedIn" class="w-75" style="margin: auto">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://images.pexels.com/photos/305565/pexels-photo-305565.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100"
            alt="Augenarzt Brille"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100"
            alt="Doktor am Untersuchen mit Mikroskop"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/1692693/pexels-photo-1692693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100"
            alt="Arztpraxis Fernsicht"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr />
    <div class="alert alert-info" role="alert">
      Bitte loggen Sie sich ein, um ihre Termine zu sehen, einen zu erstellen
      oder bestehende zu löschen.
    </div>
  </div>
</div>
