<div *ngIf="!isLoading" class="m-5">
  <div *ngIf="isLoggedIn">
    <div class="card">
      <div class="card-header">Meine gebuchten Termine</div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <app-appointment-table
              [appointments]="appointments"
            ></app-appointment-table>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success float-end" type="button" routerLink="/add-termin">Termin reservieren</button>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoggedIn">
    <app-logged-out></app-logged-out>
  </div>
</div>
