<div *ngIf="!isLoading" class="m-5">
  <div *ngIf="isLoggedIn">
    <div class="card">
      <div class="card-header">Gebuchte Termine</div>
      <div class="card-body">
        <app-appointment-table [appointments]="appointments"></app-appointment-table>
      </div>
      <div class="card-footer">
        <button class="btn btn-success float-end" type="button">Hinzufügen</button>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoggedIn">
    <app-logged-out></app-logged-out>
  </div>
</div>